{% extends 'base.html' %}
{% block body %}
    <h1 class="text-center">Welcome to the Movie Website</h1>
    {% if user.is_authenticated %}
        <h4 class="text-center">{{ user.username | upper }}!</h4>
        <h2 class="text-center">Movies in <b>{{ category.name }}</b></h2>
        <div class="container mt-3 mb-3">
            <div class="row">
                {% for movie in movies %}
                <div class="col-md-3 mb-3">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="{{ movie.poster.url }}" width="200" height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.release_date.year }}</p>
                            <p class="card-text">{{ movie.category.name }}</p>
                            <a href="{% url 'movieapp:movie_detail' movie.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-secondary">Back to All Movie</a>
        </div>

    {% else %}
        <a href="{% url 'movieapp:register' %}">Register</a>
        <a href="{% url 'movieapp:login' %}">Login</a>
    {% endif %}


{% endblock %}