<!--{% extends 'base.html' %}-->
<!--{% block body %}-->
<!--<div class="container">-->
<!--    <h1>Welcome to Our Site!</h1>-->
<!--    <p>Dear User,</p>-->
<!--    <p>Thank you for registering on our site. We're excited to have you as a member of our community!</p>-->
<!--    <p>Feel free to explore our site and discover all the features we have to offer.</p>-->
<!--    <p>Best regards,<br>Our Site Team</p>-->
<!--</div>-->
<!--{% endblock %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Site!</title>
</head>
<body>
    <h1>Welcome to Our Site!</h1>
    <p>Dear User,</p>
    <p>Thank you for registering on our site. We're excited to have you as a member of our community!</p>
    <p>Feel free to explore our site and discover all the features we have to offer.</p>
    <p>Best regards,<br>Our Site Team</p>
</body>
</html>
